<div class="row">
    <h1 class="section-title">Proyectos realizados</h1>
<div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h2 class="subtitle">Portfolio</h2>
        <p class="description">A partir de Argentina Programa me introduje en el mundo de la programación lo cual me llevó a crear este proyecto, mi Portfolio, programado con lenguajes HTML, CSS y JavaScript</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/img/Foto-proyecto.png" class="img-fluid img-proyecto">
    </div>
</div>

</div>