<!------------------------ El Cuerpo comienza aquí ----------------------->
<main class="l-main">
        
    <!------------------- Inicio ------------------->
    
<div class="container-cover">

        <img src="../../../assets/img/portfolio_portada.png" class="container-cover">
    </div>


    
                
           <section>
                 <div class="home__container bd-grid">
                <div class="home__data">
                <div class="home__img">
                <img src="../../../assets/img/Foto perfil.jpg" alt="Juan Manuel Fernández">;
                </div>

                <h1 class="home__title">JUAN MANUEL FERNÁNDEZ</h1>
                <span class="home__profession">Aspirante a Desarrollador Web</span>

                <div class="home__social">
                    <a href="https://www.linkedin.com/in/juan-manuel-fernandez-9bb9671b3/" class="home__social-link"><i
                            class='bx bxl-linkedin'></i></a>
                    <a href="https://www.facebook.com/juanmanuel.fernandez.9615/" class="home__social-link"><i
                            class='bx bxl-facebook'></i></a>
                            <a href="https://twitter.com/flacofer10" class="home__social-link"><i
                                class='bx bxl-twitter'></i></a>
                </div>
             </div>
        </div>
    </section>

   

    <!-------------------------- Acerca de ---------------------------->
    <section class="about section" id="about">
        <span class="section-subtitle">Mi presentación</span>

        <h2 class="section-title">Acerca de mí</h2>

        <div class="about__container bd-grid">
            <div class="about__data">
                <p class="about__description">
                   Hola a todos, soy Juan Manuel Fernández. Soy docente de Educacion Fisica y estoy dando mis primeros pasos en el mundo de la programación con mucho entusiasmo y ganas de aprender y desarrollar. 
                </p>
                <img src="../../../assets/img/Foto perfil.jpg" alt="Juan Manuel Fernández" title="Juan Manuel Fernández"
                    class="about__img">
            </div>

            <div>
                <div class="about__information">
                    <h3 class="about__information-title">Información</h3>

                    <div class="about__information-data">
                        <i class='bx bxs-user about__information-icon'></i>
                        <span>Juan Manuel Fernández</span>
                    </div>

                    <div class="about__information-data">
                        <i class='bx bxs-phone about__information-icon'></i>
                        <span>2245 50-1235</span>
                    </div>

                    <div class="about__information-data">
                        <i class='bx bxs-envelope about__information-icon'></i>
                        <span>juanmfernandez78@gmail.com</span>
                    </div>
                </div>
           

                <div>
                    <app-experiencia></app-experiencia>
                </div>
                <div>
                    <app-educacion></app-educacion>
                </div>
           </div>   
        </div>
    </section> 

    <!--------------------------------- Habilidades ------------------------------->
    
    <section class="skills section" id="skills">
        <span class="section-subtitle">A partir de Argentina Programa</span>
        <h2 class="section-title">Mis Habilidades</h2>
    </section>
    <div class="row">
        
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="75"
  [radius]="100"
  [showUnits]="false"
  [title]="'HTML'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [showSubtitle]="false"
  [titleFontSize]="'2em'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
[percent]="80"
[radius]="100"
[showUnits]="false"
[title]="'CSS'"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[showSubtitle]="false"
[titleFontSize]="'2em'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
[percent]="60"
[radius]="100"
[showUnits]="false"
[title]="'JavaSript'"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[showSubtitle]="false"
[titleFontSize]="'2em'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
[percent]="70"
[radius]="100"
[showUnits]="false"
[title]="'GitHub'"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[showSubtitle]="false"
[titleFontSize]="'2em'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
[percent]="90"
[radius]="100"
[showUnits]="false"
[title]="'Inglés'"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[showSubtitle]="false"
[titleFontSize]="'2em'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
[percent]="100"
[radius]="100"
[showUnits]="false"
[title]="'Trabajo Colaborativo'"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[showSubtitle]="false"
[titleFontSize]="'1em'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>
    </div>

    
    
   

    

   
   

</main>
<!------------------------ El Cuerpo finaliza aquí ----------------------->