 <!------------------------ El Pie de página comienza aquí ----------------------->
 <footer class="footer section">
    <div class="footer__container bd-grid">
        <h1 class="footer__title">Juan Manuel Fernández</h1>
        <p class="footer-description">
            Aspirante a Desarrollador Web
        </p>

        <div class="footer__social">
            <a href="https://www.linkedin.com/in/juan-manuel-fernandez-9bb9671b3/" class="footer__link"><i class="bx bxl-linkedin"></i></a>
            <a href="https://www.facebook.com/juanmanuel.fernandez.9615/" class="footer__link"><i class="bx bxl-facebook"></i></a>
            <a href="https://twitter.com/flacofer10" class="footer__link"><i class="bx bxl-twitter"></i></a>
        </div>

        </div>
</footer>
<!------------------------ El Pie de página finaliza aquí ----------------------->