
app-social{
    float: center;
    margin-top:25px;
    background-color: #09a7f1;
    }
.btn{
    border-width: medium;
}

app-social{
    flex-direction: column;
    margin-top:2px;
    background-color: #09a7f1;
    align-items: center;
    display: flex;
    }
.logo{
    flex-direction: column;
}




